body{
    background: rgb(107, 157, 233);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
}

input#btn{
    display: block;
    margin-top: 15px;
}

footer{
    padding-top: 15px;
    color: white;
    text-align: center;
    font-style: italic;
}